/* CSS RESET */
* {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;	
	outline: none;
	box-sizing: border-box;
}


/* SPACESHIP */
path, circle, line {
	stroke-width: 16px;
	stroke-linejoin: round;
	stroke-linecap: round;
	fill-opacity: 0;
	box-shadow: 1px 1px 1px #000;
}

path {
	stroke: mediumpurple;
}

circle {
	stroke: #74e0b1;
}

line {
	stroke: deeppink;
}

/* BASICS */
html, body {
	height: 100%;
	width: 100%;
	min-height: 300px;
	overflow: hidden;
}

body {
	padding: 20px;
}

small {
	color: deeppink;
	font-size: 0.6em;
	display: block;
	margin: -10px auto 20px;
	text-align: center;
	font-weight: bold;
}

input {
	background: #f3f3f3;
	border: 0;
	border-radius: 5px;
	
	display: block;

	padding: 8px 15px;

	width: 100%;

	color: #666;
	font-weight: bold;
	text-transform: uppercase;
}

.button {
	color: #fff;
	font-weight: bold;

	background: #74e0b1;
	border: 1px solid transparent;
	border-radius: 5px;

	padding: 8px 15px;

	cursor: pointer;

	transition: border-color 0.25s ease-in-out,
				opacity 0.25s ease-in-out;
}
	
	.button:hover {
		border-color: #fff;
		opacity: 0.8;
	}

.button.warn {
	background: #e0b174;
}


#gameTitle {
	display: block;

	text-align: center;
	font-size: 3.5em;
	color: #fff;
	text-shadow: 5px 5px 3px mediumpurple, 
				-5px -5px 3px deeppink;

	margin: 0 auto;

	width: 400px;
}

/* SCREENS */
.screen {
	display: none;
}

.screen.show {
	display: block;
}

#newWordScreen {
	height: 300px;
	width: 400px;
	margin: 60px auto;
	text-align: center;
}

#newWordScreen input {
	font-size: 1.5em;
	margin-bottom: 15px;
	text-align: center;	
}

#gameScreen {
	margin: 30px auto;

	height: 90%;
	width: 100%;
}

/* GAME */
#gameScreen > div {
	width: 100%;
}

.spaceship {
	height: 60%;
}

.spaceship svg {
	height: 100%;
	width: 100%;
}

.alphabet {
	padding-top: 15px;
	height: 25%;
}

.alphabet ul {
	display: flex;
	flex-wrap: wrap;
	justify-content:  center;
}

.alphabet li {
	list-style: none;

	margin: 0 5px 5px 0;
	min-width: 50px;
    height: 50px;
    line-height: 47px;
}

.alphabet button {
	display: block;
	background: #fff;
	cursor: pointer;
	position: relative;

	color: #74e0b1;
	font-size: 2em;
	font-weight: bold;
	text-align: center;

	border: 1px solid #74e0b1;
	border-radius: 50%;

	height: 100%;
	width: 100%;
	transition: all 0.3s ease-in-out;
}

.alphabet button:hover {
	background: #74e0b1;
	color: #fff;
	transform: scale(1.5);
	z-index: 2;
	opacity: 0.6;
}

.alphabet button.right {
	background: #e074a3;
	border-color: #e074a3;
}

.alphabet button.wrong {
	background: #74a3e0;
	border-color: #74a3e0;
}

.alphabet button.used,
.alphabet button.used:hover {
	color: #fff;
	cursor: default;
	opacity: 0.7;
	transform: scale(1);
}

.alphabet button.used:before {
	content: '|';
    position: absolute;
    z-index: 2;
    top: 3px;
    left: 23px;
    transform: rotate(45deg) scale(1.7);
}

.guessedLetters {
	border-bottom: 2px dotted #f0f0f0;
	margin-bottom: 2%;
	height: 13%;
}

.guessedLetters ul {
	display: flex;
	flex-wrap: wrap;
	justify-content:  center;
}

.guessedLetters li {
	list-style: none;

	background: RGBA(147, 112, 219, 0.2);
	border-bottom: 2px solid mediumpurple;
	margin: 0 8px 5px 0;
	min-width: 50px;
    height: 50px;
    line-height: 47px;

	color: deeppink;
    font-size: 2em;
	font-weight: bold;
	text-align: center;
}